bitsandbytes==0.41.1; platform_system != "Windows"
https://github.com/jllllll/bitsandbytes-windows-webui/releases/download/wheels/bitsandbytes-0.41.1-py3-none-win_amd64.whl; platform_system == "Windows"

git+https://github.com/openai/whisper.git

accelerate
anyio
atproto
audioread
click
cn2an
colorama
g2p-en
gradio
jieba
Jinja2
joblib
librosa
matplotlib
num2words
numba
numpy
pandas
peft
protobuf
pillow
pydub
PyJWT
pyopenjtalk
pyparsing
pypinyin
regex
scikit-learn
scipy
shellingham
six
sympy
tqdm
transformers==4.38.1
trl
typer
wsproto
xxhash
